<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/static/style.css">
    <title>Completed Task</title>
</head>
<body>
  <style>
    .Data_div{
      display: block;
    }
  </style>
    <left>
        <h2>These Are Your Completed_Activities:</h2>
    {% if total_task3 | length == 0%}
        <div class="Zero-div">
          <h3>No Actvities to Show!Type your first Activity above:</h3>
        </div>
    {% else %}
      <div class="Data_div">
        <table class="data_table" border="20">
        <caption><h2>To_Do_List || Here:</h2></caption>
        <thead>
          <tr class="header_row">
            <th scope="col"class="id_header">/.</th>
            <th scope="col" class="long">Act:</th>
            <th scope="col" class="long">Desc:</th>
            <th scope="col">Time:</th>
          </tr>
        </thead>
        <tbody>
          {% for data3 in total_task3 %}
          <tr class="data_row">
            <th scope="row">{{loop.index}}</th>
            <td class="scroll">{{ data3.activity }}</td>
           <td class="scroll">{{ data3.description }}</td>
           <td class="row_item">{{ data3.created_time }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
      </div>
    </left>
    <form>
            <div class="main_web_todo">
                <big><h3><a href="/">Back To To_Do:</a></h3></big>
            </div>
        </form>
        <h3 class="Tribute">Made with 💪 and ❤️ of Nepal.</h3>
</body>
</html>