{% extends 'To_Do.html' %}
  {% block body %}
    <header>
      <h1 class="Welcome_div"><big class="Welcome_text">DO Your Best!</big></h1>
      <nav class="Tod_Do_Nav">
          <ul class="Board">
            <li class="Board-items">
              <h1><big><b>To_Do_List:</b></big></h1>
            </li>
            <li class="Board-items">
              <h2><a href="/about" class="nav_link">About</a></h2>
            </li>
            <li class="Board-items">
              <h2><a href="/activity" class="nav_link">Activities</a></h2>
            </li>
            <li class="Board-items" id="Completed">
              <h2><a href="/completed" class="nav_link">Completed Activities</a></h2>
            </li>
          </ul>
        </div>
      </nav>  
    </header>  
    <main>
      <div class="image_dark"></div>
      <form action="/" method="POST" class="Main_form">
        <div class="Main_form_div">
          <div class="Title_div">
            <label for="title_input">
            <h2 class="To_Do_ask">To-Do-Activity</h2>
            </label>
            <input type="text" class="input" name="title" placeholder="Learn Programing upto 125 letters" id="title_input">
            <br>
            <h3 class="Gurantee"><span class="icons">ⓘ</span> We assure that We'll never share your Tasks/Activites with others:</h3>
          </div>
          <hr>
          <br>
          <div class="Description_div">
            <label for="description_input">
            <h2 class="To_Do_ask">Description of the Tasks/Activities</h2>
            </label>
            <input type="text" class="input" name="description" placeholder="Learn with joy! upto 250 letters" id="description_input" autocomplete="off">
          </div>
          <div class="Functionality_area">
            <span>
            <label for="to_do_checker" id="to_do_checker-label">Checked</label>
            <input type="checkbox" name="to_do_checker" id="to_do_checker">
            </span>
            <br>
            <button type="submit" name="to_do_submiter" id="to_do_submiter">Submit Activities</button>
            <hr>
            <br>
            <a href="/delete_all"><button type="button" id="to_do_delete_all">Delete all</button></a>
              <a href="/logout"><button type="button" class="Confirm_auth" style="background-color:rgba(00,00,00,1) ;">Log_Out</button></a>
          </div>
        </div> 
      </form>
    </main>
    <footer>
      {% if total_task | length == 0%}
        <div class="Zero-div">
          <h3>No Actvities to Show!Type your first Activity above:</h3>
        </div>
      {% else %}
      <div class="Data_div">
        <table class="data_table" border="20">
        <caption><h2>To_Do_List || Here:</h2></caption>
        <thead>
          <tr class="header_row">
            <th scope="col"class="id_header">/.</th>
            <th scope="col" class="long">Activity:</th>
            <th scope="col" class="long">Description:</th>
            <th scope="col">Time:</th>
            <th scope="col">OPT:</th>
          </tr>
        </thead>
        <tbody>
          {% for data in total_task %}
          <tr class="data_row">
            <th scope="row">{{loop.index}}</th>
            <td class="row_item"><div class="scroll">{{ data.activity }}</div></td>
           <td class="row_item"><div class="scroll">{{ data.description }}</div></td>
           <td class="row_item">{{ data.created_time }}</td>
           <td class="row_item">
            <a href="/Delete/{{data.sn}}"><button class="table_options">X</button></a><a href="/Update/{{data.sn}}"><button class="table_options">+</button></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
      {% endif %}
    </footer>
  {% endblock  %}       