{% extends 'To_Do.html' %}
{% block body %}
    <main>
        <style>
            main{
                background-image: url(/static/Authentication_img.jpg);
                background-size: cover;
                background-color: none;
            }
        </style>
        <section class="hearder_section">
        <big><h1>Login to Your <sup><u><i>Acccount:</i></u></sup></h1></big>
        <hr>
        <center>
        <big><h2>Fill the required sections:  ↓</h2></big>
        <br>
        <form action="/login" method="POST" class="Required_form">
            <div class="info_div">
                <big>
                    <label for="useremail"><b><u>Email</u></b></label>
                </big>
                    <input type="email" id="useremail" name="user_email"  required class="auth_input">
            </div>
            <div class="info_div">
                <big>
                    <label for="user_name"><b><u>Username</u></b></label>
                </big>
                    <input type="text" id="user_name" name="user_identity" autocomplete="off" class="auth_input" placeholder="Not essential">
            </div>
            <div class="info_div">
                <big>
                    <label for="pass_word"><b><u>Password</u></b></label>
                </big>
                    <input type="password" id="pass_word" name="pass_key"  required class="auth_input" >
            </div>
            <br>
            <br>
            <b>
                <button type="submit" class="Confirm_auth">Confirm</button>
            </b>
        </form>
        <hr>
        <div>
            <p style="color:rgba(255,255,255,1);">Don't have an account?, <a href="/sign_up">Sign up here</a></p>
        </div>
    </section>
    </center>
</main>
{% endblock  %}