<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Do-today & Feel,the(Future)</title>
     <link rel="stylesheet" href="/static/style.css">
     <meta name="description" content="list-your-favor is a web based data service which helps users to store their daily tasks and description in seprate accounts acccording to the email.">
     <meta name="keywords" content="CURD functionable app,High Data Management sytem,Flexible and Responsive">
     <link rel="icon" type="image/png" href="/static/web_icon.jpg">
    </head>
    {% block body %}
      <body>
        
      </body>
    {% endblock body %}
  </html>
